{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main mx-5 my-5">

    <form action="/confirmstatus/" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="message" value="{{message}}">
        <input type="hidden" name="confirm" value="yes">

        <div class="card text-center my-5 mx-5">
            <div class="card-header">
              Please confirm your post
            </div>
            <div class="card-body">
              <h5 class="card-title">Summary</h5>
              <p class="card-text confirmName">Name</p>
              <p class="card-text confirmName">{{name}}</p>
              <p class="card-text confirmStatus">Status</p>
              <p class="card-text confirmStatus">{{message}}</p>
              <div class="submitStatus">
                <button class="btn btn-primary" type="submit" name="post">Post</button>
                </div>
            </div>
          </div>
       

        
    </form>
</div>
{% endblock content %}