{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="main mx-5 my-5">
    <div class="section form">
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary my-3" name="submit">Submit</button>
                <!-- <a type="button" class="btn btn-primary my-3" name="submit" href="{% url 'confirm-status' %}">Submit</a> -->
                </form>
    </div>

    
    <div class="section">
        {% for stat in status %}
        <div class="card w-75 my-4 status">
            <div class="card-body">
                <h5 class="card-title">{{stat.name}}</h5>
                <p class="card-text">{{stat.message}}</p>
                <p class="card-text">{{stat.date}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}
    